/* common styles */
:root{
    --cyan:#20afa3;
    --red:#e43b49;
    --gray:#2b3131;
}
*{
    box-sizing: border-box;
}
img{
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    padding: 0.2rem;
}
.d-flex-var1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.d-flex-var2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.d-flex-var3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (min-width: 789px){
    .container{
    margin: 0 auto;
    padding: 0;
    max-width: 700px;}
    .d-flex-var1{
        flex-direction: row;
    }
    .d-flex-var3{
        justify-content: space-between;
    }
}
/* navbar section */
nav{
    background-color: var(--gray);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
nav .d-flex-var1{
    gap: 1.5rem;
}
  .logo{
      color: white;
      font-size: 1.5rem;
  }
 
  nav .search-bar{
      width: 40%;
      height: 1.5rem;
  }
  .grid-area{
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: ". btn srch srch srch srch ";
  }
  nav input[type=text] {
      grid-area: srch;
      font-size: 1rem;
      border: none;
  }
  nav .search-bar button {
      grid-area: btn;
      background: white;
      background-image: url(img/loupe.svg);
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border: none;
      cursor: pointer;
  }
  nav .search-bar button:hover {
    background: #ddd;
    background-image: url(img/loupe.svg);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
@media screen and (min-width: 789px){
    nav{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    nav .search-bar{
        height: 1.7rem;
        width: 240px;
    }
}
/* background section*/
.background-img{
    background-image: url(img/background.jpg);
    background-size: cover;
    position: absolute;
    top: 6.4rem;
    height: 384px;
    width: 100%;
    z-index: -1;
}
@media screen and (min-width: 789px){
    .background-img{
        top: 5.6rem;
        height: 70rem;
    }
}
/* content and title div */

.title{
    height: 384px;
    display: flex;
    align-items: center;
    padding-bottom: 1.2rem;
}
h1{
    color: var(--gray);
    text-align: center;
    font-weight: 800;
    font-size: 2.5rem;
    margin: 0 auto;
}
@media screen and (min-width: 789px){
    .title{
        height: 62rem;
    }
    
}
/* how-it-started div */

.small-img{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
}
h2{
    font-weight: 900;
    color: var(--red);
}
.texty-text{
    text-align: center;
    margin: 0;
    margin-top: 0.5rem;
}

@media screen and (min-width: 789px){
    .small-img{
        height: 25%;
        width: 25%;
        border-radius: 50%;
    }

}
/* contacts div */
.contacts{
    padding-top: 20px;
}
.contact-content-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    text-align: center;
}
.contact-content-div span{
    color: var(--red);
    font-size: 1.2rem;
    font-weight: 800;
}
.contact-content-div p{
    margin:0;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}
.big-img{
    margin-bottom: 0.5rem;
    height: 45vw;
    width: 45vw;
    border-radius: 50%;
}
@media screen and (min-width: 789px){
    .contacts{
        width: 100%;
        flex-direction: row;
        justify-content: start;
        gap: 30%;
        align-items: center;
    }
    .contact-content-div{
        flex-direction: row;
        align-items: center;
        gap:10px;
    }
    .big-img{
        height: 98px;
        width: 98px;
        border-radius: 50%;
    }
}
/* footer section */
footer{
    background:var(--gray);
    border-top: 10px solid var(--cyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

footer .container .d-flex-var2{
    text-transform: capitalize;
    margin-top: 1rem;
    font-size: 1rem;
}
footer span{
    color: var(--red);
    font-weight: 800;
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: var(--cyan);
}
@media screen and (min-width: 789px){
footer .d-flex-var1{
    align-items: start;
}
}